<!DOCTYPE html>
<html>

<head>
    {% block links %}
    {% endblock %}

    <!-- Link to Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body style="background-color:#f3f3f3">

    <!-- NAVBAR -->
    <nav style="background-color: #550a46" class="navbar sticky-top navbar-dark">
        <!-- Show logo -->
        <a class="navbar-brand" href="{% url 'menu' %}">
            <img src="https://image.flaticon.com/icons/svg/1293/1293171.svg" width="25" height="25">
            Marius' Pizza Shop
        </a>

        <!-- Show user name and ID -->
        <span class="navbar-brand mb-0">Welcome, {{user.first_name}} ! <small>(Your customer ID is #{{user.id}})</small></span>

        <!-- Allow user to logout -->
        <form class="form-inline" action="{% url 'logout' %}">
            
            {% if user.is_staff %}
            <!-- Button trigger Admin page only if user IS STAFF -->
            <a href='/admin'><button style="margin:0 0 0 10px; display:block" type="button" class="btn btn-secondary">
                ⚙️ Admin
            </button></a>
            <!-- Button trigger Order page only if user IS STAFF -->
            <a href="{% url 'orders' %}"><button style="margin:0 100px 0 10px; display:block" type="button" class="btn btn-secondary">
                🧾 Orders
            </button></a>
            
            {% endif %}

            <!-- Button trigger Cart Modal -->
            <button style="margin:0 10px 0 0px" type="button" id="cart-button" class="btn btn-primary" data-toggle="modal"
                data-target="#shopping-cart-modal">
                🛒 Shopping Cart
            </button>
            
            <!-- Button to logout -->
            <button class="btn btn-secondary"
                type="submit">⭲ Logout</button>
            
        </form>


    </nav>

    <!-- Alert -->
    <div id="product-added-success" class="alert alert-success alert-dismissible fade show" role="alert"
        style="display:none">
        <p style="text-align:center; font-size: 18px" id="product-added-success-text"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Body Block -->
    {% block body %} {% endblock %}

</body>

</html>