<!DOCTYPE html><html><head>

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Links to Bootstrap JS, Jquery & Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Links to my static files -->
    {% load static %}
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    <script type="text/javascript" src="{% static '(f) get_data.js' %}"></script>
    <script type="text/javascript" src="{% static '(f) display_menu.js' %}"></script>

    <!-- ___________________________  ↓↓ JAVASCRIPT ↓↓  ___________________________-->

    <script>
        $(document).ready(() => {

            // Get Product Types from server
            get_product_types()

                // Display Product Types on page
                .then(product_types => display_product_types(product_types))

            // Get Products from server
            get_products()

                // Display Products on page
                .then(products => display_products(products))

                // Get Toppings from server
                .then(response => get_toppings()

                    // Display Toppings on page
                    .then(toppings => display_toppings(toppings))
                )
        })
    </script>
    
</head>


<!-- ___________________________  ↓↓ HTML ↓↓  ___________________________-->



<body style="background-color:#f3f3f3">

    <!-- NAVBAR -->
    <nav style="background-color: #550a46" class="navbar sticky-top navbar-dark">
        
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="https://image.flaticon.com/icons/svg/1293/1293171.svg" width="25" height="25">
            Marius' Pizza Shop
        </a>

        <div class="form-inline">
            
            <!-- Button SIGN UP -->
            <form action="{% url 'signup' %}">
                <button class=" btn btn-light" style="margin-right: 15px; background-color:transparent; border-color:#fe9801; color:#fe9801" type="submit">Sign Up</button>
            </form>

            <!-- Button LOGIN -->
            <form action="{% url 'mylogin' %}">
                <button class=" btn btn-light" style="margin-right: 15px; background-color:#4a69bb; border-color:#4a69bb; color:white" type="submit">Log In</button>
            </form>
        </div>
    </nav>

    <!-- TITLE -->
    <h1 style="margin:50px 300px 0 300px">Welcome to Marius' Pizza Parlour</h1>
    <h5 style="margin:0 300px 0 300px; color:grey">Please find our menu below. Remember you must login to make an order.
    </h5>

    <!-- MENU -->
    <div id="menu" style="margin: 50px 300px 50px 300px"></div>

</body>

</html>