<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h2>Sign up</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="col" style="margin:20px"><input class="form-control" name="first_name" type="text" placeholder="First Name"></div>
          <div class="col" style="margin:20px"><input class="form-control" name="last_name" type="text" placeholder="Last Name"></div>
          <div class="col" style="margin:20px"><input class="form-control" name="email" type="email" placeholder="Email"></div>

          <button class="btn btn-primary" style="margin:0 0 0 35px" type="submit">Register</button>
        </form>
    </body>
</html>
