<!DOCTYPE html>
<html>

<head>
    <!-- Link to Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Stylesheets -->
    <link rel="stylesheet" type="text/css" href="./static/styles.css">

</head>

<body>
    
    <!-- Show a navbar -->
    <nav style= "background-color: #512c62" class="navbar navbar-dark">
        
        <!-- Show user's ID -->
        <span class="navbar-brand mb-0">Welcome! You have user id #{% block user %} {% endblock %} </span>
        
        <!-- Allow user to logout -->
        <form action="{{ url_for ('logout') }}">
            <button style="background-color:#43ab92; border-color:#43ab92; color:white" class="btn btn-light" type="submit">Logout</button>
        </form>
    </nav>

    <!-- Allow other pages to fill the body of the page -->
    {% block body %} {% endblock %}
</body>

</html>