{% extends "layout.html" %}

{% block title %} INDEX {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="{{ url_for ('search') }}" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="search" name="keyword" placeholder="Search for books here">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 list-group">
            <ul>
               <h6>{{error}}</h6>
                {% for book in books %}

                <a href="{{ url_for ('book') }}?isbn={{ book.isbn }}"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" />

                        <div class="d-flex flex-column">
                            <h5 class="mb-1">{{book.title}}</h5>
                            <small class="text-muted">{{book.year}}</small>
                            <p class="mb-1">{{book.author}}</p>
                            <small>{{book.isbn}}</small>
                        </div>
                    </div>

                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}